@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101828;
  --text-main: #e0e0e0;
  --text-secondary: #b3b3b3;
  --bg-card: #243347;
  --bg-dark: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);
  --color-bg-card: var(--bg-card);
  --color-bg-dark: var(--bg-dark);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-poppins), ui-monospace, SFMono-Regular, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101828;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollProjects {
  scrollbar-color: var(--bg-card) var(--background);
  scrollbar-width: thin;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}